.button-background{
    background-color: #d65f10ce;
}
.pre-icon,.next-icon{
    background-color: rgba(167, 7, 7, 0.767);
}

.yourImage{
    -webkit-filter: invert(50%); /* Safari/Chrome */
    filter: invert(50%);
}
.icon{
    width:25px ;
}